{% extends 'base.html' %}
{% load humanize %}

{% block title %}
 | {{project.title}}
{% endblock %}

{% block content %} 
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">{{project.title}}</h1>
        <p class="lead">{{project.shortDescription}}</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section class="mt-5">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'about' %}">
            <i class="fa fa-user"></i> About</a>
        </li>
        <li class="breadcrumb-item active ">
          <i class="fa fa-graduation-cap"></i> {{project.title}}
        </li>
      </ol>
    </nav>
  </div>
</section>

<section id="back">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="buttonToBack">
          <a href="{% url 'projects' %}" class="btn btn-info">Go Back Projects</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="projectHeading">
  <div class="container">

    <div class="row">
      <div class="col">
        <div class="section-title">
          <h2>
            {{project.title}}
          </h2>

        </div>
        <!--Title -->
      </div>
    </div>
  </div>
</section>


<section id="project">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 ">
        <div class="main-img">
          <img src="{{ project.main_photo.url }}" id="current">
        </div>
        <div class="imgs">
          {% if project.main_photo %}
            <img src="{{ project.main_photo.url }}">
          {% endif %}  
          {% if project.photo_2 %}
            <img src="{{ project.photo_2.url }}">
          {% endif %}  
          {% if project.photo_3 %}
            <img src="{{ project.photo_3.url }}">
          {% endif %}  
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{{ project.author.my_photo.url }}" alt="Muhammad Shakir - Profile">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 16px;">{{project.author.title}}</h5>

            <h6 class="text-secondary">{{project.author}}</h6>
            <hr>
            <a href="{% url 'contact' %}" class="btn btn-info btn-block">Contact Info</a>
          </div>
        </div>

      </div>
    </div>

    <hr>
    
    <div style="clear: both;"></div>
    <!-- Description -->
    <div class="row my-5">
      <div class="col-md-8">
        <p>{{project.description}}
        </p>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fa fa-user"> </i> &nbsp;Author
                <span class="float-right">{{project.author}}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fa fa-laptop"></i> Langauge
                <span class="float-right">{{project.tag1}}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fa fa-laptop"></i> Langauge
                <span class="float-right">{{project.tag2}}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fa fa-laptop"></i> Tool
                <span class="float-right">{{project.tag3}}</span>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">

      </div>





    </div>
  </div>
  </div>
</section>



{% endblock %}