<!-- Top Bar -->
<section id="top-bar">
    <div class="container">
      <div class="row">
  
        <div class="col-md-6">
          <div class="topLeft">
            <span class="fonts"><i class="fa fa-envelope"></i></span><span class="email">
              mshakir.munawar123@gmail.com
            </span>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="topRight social">
            <a href="https://twitter.com/Mshakir68" target="_blank"><i class="fa fa-twitter"></i></a> &nbsp;
            <a href="https://www.facebook.com/mshakir93" target="_blank"><i class="fa fa-facebook"></i></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/mshakir93/" target="_blank"><i class="fa fa-linkedin"></i></a> &nbsp;
            <a href="https://github.com/engrmshakir" target="_blank"><i class="fa fa-github"></i></a> &nbsp;
            <a href="https://www.instagram.com/muhammad_shakir123/" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
  
      </div>
    </div>
  </section>