<!-- Footer -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footerSocial-icons text-center mb-4">
            <a href="https://www.facebook.com/mshakir93" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/Mshakir68" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/in/mshakir93/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://aboutme.google.com/u/0/?referer=gplus" target="_blank" class="fa fa-google-plus"></a>
            <a href="https://github.com/engrmshakir" target="_blank" class="fa fa-github"></a>
            <a href="https://www.instagram.com/muhammad_shakir123/" target="_blank" class="fa fa-instagram"></a>
          </div>
          <hr>
          <p class="text-center"> <span id="year"></span>
            &copy; Handcrafted from scratch with <span class="highlight"><i class="fa fa-heart"></i></span>
            by Muhammad Shakir
          </p>
        </div>
      </div>
    </div>
  </footer>