{% extends 'base.html' %}

{% block content %}
<section id="contacts">
    <div class="container">
      <div class="row py-3 text-center">
        <div class="col">
          <div class="section-title">
            <h2>
              Contact Me
            </h2>
            <p class="lead">
              Thank you for stopping by. Drop me a message and let's get in touch
            </p>
          </div>
          <!--Title -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="address_mail_footer_grids ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3539.812628729253!2d153.014155!3d-27.4750921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a0835840a2f%3A0xdd5e3f5c208dc0e1!2sMelbourne+St%2C+South+Brisbane+QLD+4101%2C+Australia!5e0!3m2!1sen!2sin!4v1492257477691"></iframe>
          </div>
        </div>
        <!--contact-map -->


        
      </div>


    </div>
  </section>
{% endblock %}